/*!
 * ISC License (ISC)
 *
 * Copyright (c) 2017, Brandon D. Sara (https://bsara.pro/)
 *
 * Permission to use, copy, modify, and/or distribute this software for any
 * purpose with or without fee is hereby granted, provided that the above
 * copyright notice and this permission notice appear in all copies.
 *
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES WITH
 * REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY
 * AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT,
 * INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM
 * LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR
 * OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR
 * PERFORMANCE OF THIS SOFTWARE.
 */
html,
body {
  position:   relative;
  width:      100%;
  height:     100%;
  margin:     0;
  box-sizing: border-box;
}

html {
  padding:  0;
  overflow: hidden;
}

body {
  padding:          15px;
  background-color: #fff;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 8px, rgba(0, 0, 0, 0.05) 1px, transparent 10px), /* (0deg, transparent, transparent 9px, rgba(191, 163, 191, 0.25) 1px, transparent 10px) */
                    repeating-linear-gradient(-45deg, transparent, transparent 8px, rgba(0, 0, 0, 0.05) 1px, transparent 10px); /* (90deg, transparent, transparent 9px, rgba(191, 163, 191, 0.25) 1px, transparent 10px) */
  background-size:  14px 14px;
  overflow:         auto;
}



.__sb-code__ {
  font-family: monospace;
}



.__sb-div-list__ > div:not(:last-child) {
  margin-bottom: 10px;
}

.__sb-div-list__ > div > label:first-child {
  margin-right: 5px;
  font-family:  sans-serif;
}



.__sb-grid__ {
  display:  grid;
  grid-gap: 10px;
}

.__sb-grid__ > .__sb-grid-label-cell__ {
  font-family: sans-serif;
  text-align:  right;
  align-self: center;
}



.__sb-sections-wrapper__ > section:not(:last-child) {
  margin-bottom: 50px;
}

.__sb-sections-wrapper__ > section > h3 {
  width:          100%;
  margin:         0;
  margin-bottom:  15px;
  padding:        0;
  padding-bottom: 3px;
  color:          #000;
  font-family:    sans-serif;
  font-weight:    500;
  border-bottom:  1px solid #666;
}



.__sb-table__ {
  border:          1px solid #aaa;
  border-collapse: collapse;
}

.__sb-table__ th {
  background:  #ccc;
  color:       #000;
  font-family: sans-serif;
  font-weight: 500;
  font-size:   1.20em;
  text-align:  center;
}


.__sb-table__ tr:not(:last-child),
.__sb-table__ thead tr {
  border-bottom: 1px solid #aaa;
}

.__sb-table__ tr:nth-child(2n) {
  background: #f6f6f6;
}

.__sb-table__ tr:nth-child(2n + 1) {
  background: #fff;
}


.__sb-table__ td,
.__sb-table__ th {
  padding: 10px;
}

.__sb-table__ td:not(:first-child),
.__sb-table__ th:not(:first-child) {
  border-left: 1px solid #aaa;
}
