/**!
 * Copyright (c) 2018, Brandon D. Sara (http://bsara.pro/)
 * Licensed under the ISC license
 */

.markdown-body pre {
  background: #111 !important;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #fff;
}

.hljs-tag .hljs-name {
  color: #0cf;
}

.hljs-attr {
  color: #0c5;
  font-style: italic;
}

.hljs-string,
.hljs-number {
  color: #F2C40E;
}
